 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/3620.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 616px;
}

.u-section-1 .u-text-1 {
  font-family: BlackCloverFont;
  font-weight: 200;
  width: 549px;
  margin: 26px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: BlackCloverFont;
  background-image: none;
  text-decoration: none solid rgb(255, 255, 255);
  font-weight: 500;
  margin: 46px auto 0;
}

.u-section-1 .u-image-1 {
  width: 378px;
  height: 360px;
  margin: -13px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 389px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 148px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 324px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Fondo-header.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 35px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 585px;
}

.u-section-3 .u-text-1 {
  font-family: BlackCloverFont;
  margin: 60px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 30px auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-3 .u-carousel-control-1 {
    left: 25px;
    right: auto;
  }

  .u-section-3 .u-carousel-control-2 {
    left: auto;
    right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/3642.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 640px;
}

.u-section-4 .u-text-1 {
  font-family: BlackCloverFont;
  margin: 85px auto 0 106px;
}

.u-section-4 .u-text-2 {
  font-size: 1.4375rem;
  margin: 29px 706px 60px 79px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-text-1 {
    font-weight: normal;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 585px;
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 365px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: 185px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Fondo-header.jpeg");
  background-position: 50% 100%;
}

.u-section-5 .u-sheet-1 {
  min-height: 35px;
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/3663.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 665px;
}

.u-section-6 .u-text-1 {
  font-family: BlackCloverFont;
  font-weight: normal;
  margin: 91px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 480px;
  margin: 58px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Fondo-header.jpeg");
  background-position: 50% 100%;
}

.u-section-7 .u-sheet-1 {
  min-height: 35px;
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Fondo-header.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 35px;
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/digital-art-knight-soldier-flag-wallpaper-preview.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 616px;
}

.u-section-9 .u-text-1 {
  font-family: BlackCloverFont;
  margin: 64px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.4375rem;
  font-weight: 700;
  margin: 46px 59px 0;
}

.u-section-9 .u-image-1 {
  width: 220px;
  height: 220px;
  margin: 25px auto 0;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 46px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 389px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 292px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 184px;
  }
} .u-section-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Fondo-header.jpeg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 35px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 500px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 615px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-family: BlackCloverFont;
  margin: 60px auto 0;
}

.u-section-11 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-11 .u-input-1 {
  text-transform: uppercase;
}

.u-section-11 .u-input-2 {
  text-transform: uppercase;
}

.u-section-11 .u-input-3 {
  text-transform: uppercase;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .u-section-11 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-form-1 {
    width: 340px;
  }
} .u-section-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Fondo-header.jpeg");
  background-position: 50% 50%;
}

.u-section-12 .u-sheet-1 {
  min-height: 35px;
}@font-face {
  font-family: 'BlackCloverFont';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BlackCloverFont.woff);
}